services:
  headscale:
    image: headscale/headscale:latest
    restart: unless-stopped
    container_name: headscale
    networks:
      - internal
    ports:
      - "8080:8080"
      - "127.0.0.1:9090:9090"
    environment:
      - TZ=${TZ}
    volumes:
      # Please change <CONFIG_PATH> to the fullpath of the config folder just created
      - ./headscale/config:/etc/headscale
      - ./headscale/lib/headscale:/var/lib/headscale
    command: serve

  headplane:
    # I recommend you pin the version to a specific release
    image: ghcr.io/tale/headplane:latest
    container_name: headplane
    networks:
      - internal
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - './headplane/config/config.yaml:/etc/headplane/config.yaml'
      # This should match headscale.config_path in your config.yaml
      - './headscale/config.yaml:/etc/headscale/config.yaml'

      # Headplane stores its data in this directory
      - './headplane/data:/var/lib/headplane'

      # If you are using the Docker integration, mount the Docker socket
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    environment:
      - TZ=${TZ}

networks:
  internal:
