services:
  headscale:
    image: headscale/headscale:<VERSION>
    restart: unless-stopped
    container_name: headscale
    ports:
      - "8080:8080"
      - "127.0.0.1:9090:9090"
    environment:
      - TZ=${TZ}
    volumes:
      # Please change <CONFIG_PATH> to the fullpath of the config folder just created
      - /etc/headscale:/etc/headscale
      - /var/run/headscale:/var/run/headscale
      - /var/lib/headscale:/var/lib/headscale
    command: serve
